nav {
    background-color: black;
    padding-right: 14em;
}

nav a:visited, a:link, a:active {
    text-decoration: none;
    color: gold;
}

nav a:hover {
    color: aqua;
}

nav h1 {
    vertical-align: middle;
    font-family: Magneto, serif;
    font-size: xx-large;
}

input {
    display: block;
}

.button {
    margin-top: 1.2em;
}

.container {
    padding-bottom: 3.6em;
}

footer {
    display: flex;
    background-color: black;
    color: aqua;
    justify-content: space-between;
    padding: 0.5em;
    font-size: x-small;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-top: 1rem;
}

.fullwidth {
    width: 100%;
}