<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Film zoeken')"></head>
<body>
<nav th:replace="fragments::header"></nav>
<div class="container">
    <label><h5>Nummer:<span class="fout" id="moetPositief" hidden> moet positief zijn!</span></h5>
        <input id="nummer" type="number" autofocus required min="1">
    </label>
    <div class="button">
        <button class="rounded" id="zoeken">Zoeken</button>
    </div>
    <h5 th:if="${nietGevonden}" th:text="*{nietGevonden}"></h5>
    <dl th:if="${film}" th:object="${film.result.properties}">
        <dt>Titel</dt>
        <dd th:text="*{title}"></dd>
        <dt>Regisseur</dt>
        <dd th:text="*{director}"></dd>
        <dt>Uitgekomen op</dt>
        <dd th:text="*{releaseDate}"></dd>
        <dt>Karakters</dt>
        <dd th:each="karakter:${karakters}" th:text="${karakter}"></dd>
    </dl>
</div>
<footer th:replace="fragments::footer"></footer>
</body>
</html>