<div lang="nl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head(title)">
        <meta charset="UTF-8">
        <link rel="icon" th:href="@{/images/starwars.ico}" type="image/x-icon">
        <title th:text="${title}"></title>
        <link rel="stylesheet" th:href="@{/css/starwars.css}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css}" rel="stylesheet">
        <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js}"></script>
        <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.15.2/css/all.css}"/>
        <style>body {
            background-color: oldlace
        }</style>
    </head>

    <nav class="navbar navbar-expand-lg" th:fragment="header">
        <div class="container">
            <h1><a th:href="@{/}">STARWARS</a></h1>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-user"></i>
                    </a>
                    <ul class="dropdown-menu shadow p-4 mb-4 bg-white">
                        <li>
                            <a class="dropdown-header" th:href="@{/}" sec:authorize="isAuthenticated()">
                                <th:block sec:authentication="name"></th:block>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/login}" sec:authorize="isAnonymous()">Inloggen</a>
                        </li>
                        <li>
                            <form method="post" th:action="@{/logout}" sec:authorize="isAuthenticated()">
                                <button class="dropdown-item">Uitloggen</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <footer th:fragment="footer">
        <p>© 2022 STAR WARS</p>
        <p>Alle rechten voorbehouden <img th:src="@{/images/HD_logo.png}" height="10px"></p>
    </footer>
</div>