<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Inloggen')"></head>
<body>
<nav th:replace="fragments::header"></nav>
<div class="container">
    <h5>Inloggen</h5>
    <form th:action="@{/login}" method="post">
        <input name="username" required autofocus placeholder="Gebruikersnaam">
        <input name="password" type="password" required placeholder="Paswoord">
        <div class="button">
            <button>Inloggen</button>
        </div>
    </form>
    <div th:if="${param.error}">Verkeerde gebruikersnaam of paswoord</div>
</div>
<footer th:replace="fragments::footer"></footer>
</body>
</html>